nav li a {
    text-decoration: none;
}
nav li{
    list-style-type: none  ;
    float: left;
}
nav a{
    display: block;
    padding: 10px;
    background-color: #7BC6CC;
}
h2{
   text-align: center;
}
img{
    width: 400px;
    height: 310px;
    padding-left: 650px;
}
nav p{
    padding-left: 200px;
}
h3{
    text-align: left;
}
table, tr, th, td{
    border-collapse: collapse;
    border: 1px solid;
    padding-left: 40px;
    
}
td{
    padding-right: 10px;
}